{% extends 'base.html' %}
{% load static %}


{% block extra_head %}

<script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>

{% endblock %}

{% block content %}
    <div class="div-container">
        {% block sub_content %}

        {% endblock %}
    </div>
{% endblock %}

{% block extend_footer %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>  

    {% block extend_footer_sub %}{% endblock %}

{% endblock %}