{% extends 'base.html' %}
{% load static %}


{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/maps.css' %}"></link>

{% endblock %}


{% block content %}

<h3>Directions</h3>
<div class="div-container">
  <div>
    <input
      id="origin-input"
      class="controls"
      type="text"
      placeholder="Enter an origin location"
      value="{{ start }}"
    />

    <input
      id="destination-input"
      class="controls"
      type="text"
      placeholder="Enter a destination location"
      value="{{ end }}"
    />

    <div id="mode-selector" class="controls">
      <input
        type="radio"
        name="type"
        id="changemode-walking"
        checked="checked"
      />
      <label for="changemode-walking">Walking</label>

      <input type="radio" name="type" id="changemode-transit" />
      <label for="changemode-transit">Transit</label>

      <input type="radio" name="type" id="changemode-driving" />
      <label for="changemode-driving">Driving</label>
    </div>
  </div>

  <div id="map"></div>

  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key={{google_api_key|safe}}&callback=initMap&libraries=places&v=weekly"
    async
  ></script>
</div>

{% endblock %}


{% block extend_footer %}    
      <script src="{% static 'js/google_places.js' %}"></script>
{% endblock %}
