{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add Contact{% endblock title %}

{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
            <div class="row">
                <div class="col-5">
                {{ form.first_name|as_crispy_field }}
                </div>
                <div class="col-5">
                {{ form.last_name|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.birthday|as_crispy_field }}
                </div>
            </div>

            {{ form.notes|as_crispy_field }}
        <button type="submit" class="btn btn-success">Save Contact</button>
    </form>

{% endblock content %}

<!-- <script>
    $(function () {
        $("#datepicker1").datepicker({
            format: 'DD/MM/YYYY',
        });
}); 
</script> -->