{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add Contact{% endblock title %}

{% block content %}
    {% if submitted %}
        <p class="success">
            Contact successfully added!
        </p>

    {% else %}
        <form method="post" novalidate>
            {% csrf_token %}
                <div class="row">
                  <div class="col-6">
                    {{ form.first_name|as_crispy_field }}
                  </div>
                  <div class="col-6">
                    {{ form.last_name|as_crispy_field }}
                  </div>
                </div>
                {{ form.email|as_crispy_field }}
                <!-- <label for="example-date-input" class="col-2 col-form-label">Date</label> -->
                <!-- {{ form.first_name.label }} -->
                {{ form.birthday|as_crispy_field }}
                {{ form.notes|as_crispy_field }}
            <button type="submit" class="btn btn-success">Save Contact</button>
        </form>
    
    {% endif %}


{% endblock content %}
