{% extends "base.html" %}
{% load static   %}

{% block extra_head %}
    <link href="{% static 'css/contact.css' %}" rel="stylesheet" />
{% endblock %}

{% block title %}Contact Detail{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-2">
            <a class="btn btn-primary" href="{% url 'show-contacts' %}" role="button">Home</a>
            <p></p>
            <a class="btn btn-secondary" href="{% url 'update-contact' contact.id %}" role="button">Edit Contact</a>
            <p></p>
            {% if not contact.self_contact %}
                <a class="btn btn-danger" href="{% url 'delete-contact' contact.id %}" role="button">Delete Contact</a>
            {% endif %}
            <p></p>
            {% if user_info.address_line1 != None and contact.address_line1 != None and not contact.self_contact %}
                <a class="btn btn-dark" href="{% url 'directions:map' %}?start={{ user_info.address_line1 }}-{{ user_info.address_ZIP }}-{{ user_info.address_state }}&end={{ contact.address_line1 }}-{{ contact.address_ZIP }}-{{ contact.address_state }}" role="button">Get Directions</a>
            {% endif %}
        </div>

        <div class="col-6">
            <h1>{{ contact.first_name }} {{ contact.last_name }}</h1>
            <h3>Basics</h3> 
            {% if contact.birthday %}<p><strong>Birthday &nbsp;&nbsp;&nbsp;&nbsp; </strong> {{ contact.birthday }}</p>{% endif %}

            <h3>Address</h3>
            
            {% if contact.address_line1 or contact.address_ZIP or contact.address_state %}
                {% if contact.address_line1 %}<p><strong>Address 1 &nbsp;&nbsp;&nbsp;&nbsp; </strong> {{ contact.address_line1 }}</p>{% endif %}
                
                {% if contact.address_line2 %}<p><strong>Address 2 &nbsp;&nbsp;&nbsp;&nbsp; </strong> {{ contact.address_line2 }}</p>{% endif %}
                
                {% if contact.address_ZIP %}<p><strong>Zip Code &nbsp;&nbsp;&nbsp;&nbsp; </strong> {{ contact.address_ZIP }}</p>{% endif %}
                
                {% if contact.address_state %}<p><strong>State &nbsp;&nbsp;&nbsp;&nbsp; </strong> {{ contact.address_state }}</p>{% endif %}
            
            {% else %}
                <p>No address information to display!</p>
            {% endif %}

            <h3>General Notes</h3>
                {{ contact.notes|linebreaks }}
        </div>

    </div>
    
{% endblock content %}