{% extends "base.html" %}

{% block title %}Contact Detail{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-2">
            <a class="btn btn-primary" href="{% url 'show-contacts' %}" role="button">Home</a>
            <p></p>
            <a class="btn btn-secondary" href="{% url 'update-contact' contact.id %}" role="button">Edit Contact</a>
            <p></p>
            <a class="btn btn-danger" href="{% url 'delete-contact' contact.id %}" role="button">Delete Contact</a>
        </div>

        <div class="col-6">
            <p><strong>First name &nbsp;&nbsp;&nbsp;&nbsp; </strong> {{ contact.first_name }}</p> 
            <p><strong>Last name &nbsp;&nbsp;&nbsp;&nbsp; </strong> {{ contact.last_name }}</p> 
            <p><strong>Birthday &nbsp;&nbsp;&nbsp;&nbsp; </strong> {{ contact.birthday}}</p>
            <p><strong>Notes &nbsp;&nbsp;&nbsp;&nbsp; </strong> {{ contact.notes}}</p> 
            <p><strong>Address 1 &nbsp;&nbsp;&nbsp;&nbsp; </strong> {{ contact.address_line1}}</p> 
            <p><strong>Address 2 &nbsp;&nbsp;&nbsp;&nbsp; </strong> {{ contact.address_line2}}</p> 
            <p><strong>Zip Code &nbsp;&nbsp;&nbsp;&nbsp; </strong> {{ contact.address_ZIP}}</p> 
            <p><strong>State &nbsp;&nbsp;&nbsp;&nbsp; </strong> {{ contact.address_state}}</p> 
        </div>
    </div>
    
{% endblock content %}