
.contactrow {
    padding: 8px 10px;
    border-top: 1px solid;
}

.contactrow:first-child{
    border-top: none;
}

.altrow {
    background-color: #e0e0e0;
}

.contactrow a {
    color: black;
    text-decoration: none;
}

.contactrow a:hover {
    text-decoration: underline;
}

#birthday-div {
    border: 2px solid;
    border-radius: 10px;
}

#birthday-div a {
    color: black;
    text-decoration: none;
}

#birthday-div a:hover {
    text-decoration: underline;
}